[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LearnNonparam"]
	path = LearnNonparam
	url = https://github.com/qddyy/learnnonparam
